
        <div style="background-image: url({{apod?.hdurl}});" class="battlebox mb-5" >
           
            <div class="container">
                <div class="row">
                    <div class="col-sm-12"><div class="top"><p>Astronomy: {{apod?.title}} - <span>Victory count: {{cont}}</span></p></div></div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 align-items-center">
                        <div class="fightbox">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="">
                        </div>
                    </div> 
                    <div class="col-md-4"></div>
                </div>
                <div class="row middle">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="result" [hidden] = "visibility"><img src="assets/{{img}}" alt="" ></div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center"> 
                        <div class="fightbox" (click)="Fight()">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/34.png"  alt="">
                        </div>
                    </div>
                    <div class="col-md-4 align-items-center">
                        <div class="fightbox" (click)="Fight()">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/100.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fightbox" (click)="Fight()">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/150.png"  alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>


